.title {
    font-family: Montserrat;
    margin-bottom: 30px;
    color: #ffff;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 2px;
    position: relative;
}
.title:after {
    content: '';
    width: 55px;
    height: 1px;
    background: #c32865;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title .firstColor {
    color: #c32865;

}
