.project {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 15px;
    .viewBlock {
        height: 250px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        .icon {
            height: 60px;
            width: 60px;
            overflow: hidden;
            color: #c32865;

        }
        &:hover::before {
            position: absolute;
            content: '';
            background-color: #c32865;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            opacity: 0.3;

        }
        .button {

            height: 45px;
            width: 120px;
            background-color: #c32865;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Poppins;
            font-size: 15px;
            font-weight: 500;
            color: white;
            border: none;
            &:active {
                border: 1px solid black;
            }
            h3 {
                text-transform: uppercase;
                font-weight: 700;
            }
            &:hover {
                background-color: #c32865;
                transition: .4s;
                color: white;
                cursor: pointer

            }

        }
    }
    .descriptionBlock {
        width: 100%;
        color: #888888;
        .title {
            font-family: Montserrat;
            text-transform: uppercase;
            color: #ffff;
            font-size: 19px;
            margin:10px
        }
        .description {
            margin:10px
        }

    }
}

@media screen and (min-width:1024px) {
    .icon {
        display: none;
    }
 
}









