.project {
    width: 280px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-top: 5px;
}
.viewBlock {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 220, 233);
}


.button {
    height: 50px;
    width: 120px;
    background-color: #cac9c9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionBlock {
    width: 100%;
    background-color: #e0dfdf;
}
.title {
    background-color: #9d9b9b;
    margin:10px
}
.description {
    background-color: #9d9b9b;
    margin:10px
}
