.nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;}

a {
    text-decoration: none;
    color: black;
}

.navButton {
    color:white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;


}
.navButton:hover {
    background-color: #c32865;
    transition: .4s;
    color: white;
    padding: 10px;
}

/*.nav::before {
    content: '';
    display: none;
    background: url('../assets/image/menu.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    color: #c32865;
}*/



@media screen and (max-width:753px) {

    .nav {
        display: none;
    }

}

