.nav {
    border: 1px solid;
    width: 350px;
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: black;
}
/*

.navButton {
    color:white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}
.navButton:hover {
    background-color: #c32865;
    transition: .4s;
    color: white;
    padding: 10px;
}*/
