.remoteBlock {
    min-height: 100vh;
    background-color: #f1f0cf;
}

.remoteContainer {
    min-height: 100vh;
}




/*.contactContain {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #ace9f1;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}*/
.cb{
    background-color: coral;
    box-sizing: border-box;
    width: 400px;
    max-height: 200px;
    margin: 5px;
}





