.projectsContainer {
    height: auto;
    background-color: #1b1b1b;
    padding: 100px 0;
    .projectsBlock {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        min-height: max-content;
    }
    .projects {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}





